/****** Media Queary ********/

/*For Tablet 768px*/

@media (max-width: 48em) {
  html {
    font-size: 62.2%;
  }
  body {
    height: 100%;
    width: 76.8rem;
  }
  .contanir {
    height: 100%;
    width: 76.8rem;
  }
  .header {
    height: 6rem;
    width: 100%;
  }
  .bellicon {
    height: 2.4rem;
    width: 2.4rem;
  }
  .explore {
    font-size: 2.8rem;
    height: 3.5rem;
    width: 9rem;
  }
  .coin-internl-part {
    border-radius: 3.6rem;
    height: 4rem;
    width: 10rem;
    margin-left: 20%;
    margin-right: 10px;
  }
  .dollar {
    height: 2rem;
    width: 2rem;
    margin-top: 6%;
    margin-left: 5%;
  }
  .doller-text {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    margin-top: 2%;
    margin-left: 10%;
  }
  .section::before {
    font-size: 1.6rem;
    height: 2.3rem;
    width: 3.8rem;
    top: -25%;
    right: -80%;
  }
  .wallet-icon {
    width: 3.9rem;
    height: 3.5rem;
    margin-left: 20%;
  }
  .search-box {
    border-radius: 1.4rem;
    height: 7rem;
    width: 93%;
  }
  .search {
    height: 3rem;
    width: 6.8rem;
    font-size: 2rem;
  }
  .search-icon {
    height: 3rem;
    width: 3rem;
  }
  .image-1,
  .image-2,
  .image-3 {
    height: 11rem;
    width: 30rem;
    border-radius: 1.4rem;
  }
  .image-p,
  .image-p2 {
    height: 3.5rem;
    width: 9rem;
    font-size: 3rem;
  }
  .image-p3 {
    height: 3.5rem;
    width: 9rem;
    font-size: 3rem;
    top: 50%;
    left: 95%;
  }
  .cococola {
    height: 6rem;
    width: 76.8rem;
  }
  .cococola-group {
    width: 90%;
  }
  .hashtag {
    height: 3.5rem;
    width: 3.5rem;
  }
  .name-cococola {
    width: 12rem;
    height: 3.5rem;
    font-size: 3rem;
    top: 0;
    left: 21%;
  }
  .arrow-point {
    width: 2rem;
    height: 1.8rem;
  }
  .post {
    height: 2.8rem;
    width: 7rem;
    font-size: 2.3rem;
    margin-left: 15rem;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img1a,
  .img2a,
  .img3a,
  .img4a,
  .img5a,
  .img6a {
    height: 32.7rem;
    width: 25.5rem;
  }
  .office {
    height: 6rem;
    width: 76.8rem;
  }
  .office-1 {
    width: 90%;
  }
  .hashtag2 {
    height: 3.5rem;
    width: 3.5rem;
  }
  .name-office {
    width: 12rem;
    height: 3.5rem;
    font-size: 3rem;
    top: 0;
    left: 21%;
  }
  .arrow-point2 {
    width: 2rem;
    height: 1.8rem;
  }
  .post2 {
    height: 2.8rem;
    width: 7rem;
    font-size: 2.3rem;
    margin-left: 15rem;
  }
  .icons {
    width: 100%;
  }
}
/* For Mobile 512px*/
@media (max-width: 32em) {
  html {
    font-size: 62%;
  }
  body {
    height: 100%;
    width: 51.2rem;
  }
  .contanir {
    height: 100%;
    width: 51.2rem;
  }
  .header {
    height: 5rem;
    width: 100%;
  }
  .bellicon {
    height: 2.3rem;
    width: 2.3rem;
  }
  .explore {
    font-size: 2.4rem;
    height: 3.1rem;
    width: 8rem;
  }
  .coin-internl-part {
    border-radius: 3.6rem;
    height: 3.5rem;
    width: 8rem;
    margin-left: 10%;
    margin-right: 10px;
  }

  .dollar {
    height: 1.9rem;
    width: 1.9rem;
    margin-top: 6%;
    margin-left: 20%;
  }
  .doller-text {
    height: 2.7rem;
    width: 2.8rem;
    font-size: 1.8rem;
    margin-top: 2%;
    margin-left: 6%;
  }
  .section::before {
    font-size: 1.4rem;
    top: -40%;
    right: -60%;
    height: 2rem;
    width: 3.6rem;
    border-radius: 1.1rem;
  }
  .wallet-icon {
    width: 3.5rem;
    height: 3.1rem;
    margin-left: 12%;
  }
  .search-box {
    border-radius: 1.3rem;
    height: 6.1rem;
    width: 91%;
  }
  .search {
    height: 2.7rem;
    width: 6.5rem;
    font-size: 1.9rem;
  }
  .search-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 5.6rem;
  }
  .lifestyle {
    margin-top: 2.7rem;
    margin-bottom: 2.5rem;
    /* margin-left: 0.7rem; */
  }
  .lifestyle1 {
    margin-left: 0.7rem;
  }
  .image-1,
  .image-2,
  .image-3 {
    height: 9.4rem;
    width: 20rem;
    border-radius: 1.4rem;
  }
  .image-p,
  .image-p2 {
    height: 3.1rem;
    width: 8.5rem;
    font-size: 2.1rem;
  }

  .image-p3 {
    top: 50%;
    right: -13.5%;
    height: 3.1rem;
    width: 8.5rem;
    font-size: 2.1rem;
  }

  .cococola {
    height: 5.7rem;
    width: 45.7rem;
  }
  .cococola-group {
    width: 100%;
  }
  .hashtag {
    height: 2.8rem;
    width: 2.8rem;
  }
  .name-cococola {
    width: 11.7rem;
    height: 3.1rem;
    font-size: 2.1rem;
    top: 0;
    left: 17%;
  }
  .arrow-point {
    width: 0.9rem;
    height: 1.4rem;
  }
  .post {
    height: 2.6rem;
    width: 6.7rem;
    font-size: 1.9rem;
    margin-left: 8rem;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img1a,
  .img2a,
  .img3a,
  .img4a,
  .img5a,
  .img6a {
    height: 22.7rem;
    width: 16.5rem;
  }

  .office {
    height: 5.7rem;
    width: 45.7rem;
  }
  .office-1 {
    width: 90%;
  }
  .hashtag2 {
    height: 2.8rem;
    width: 2.8rem;
  }
  .name-office {
    width: 11.7rem;
    height: 3.1rem;
    font-size: 2.1rem;
    top: 0;
    left: 17%;
  }
  .arrow-point2 {
    width: 0.9rem;
    height: 1.4rem;
  }
  .post2 {
    height: 2.6rem;
    width: 6.7rem;
    font-size: 1.9rem;
    margin-left: 8rem;
  }

  .icons {
    width: 100%;
  }
}
/* For MObile Large 425px*/
@media (max-width: 26.56em) {
  html {
    font-size: 60%;
  }
  body {
    height: 100%;
    width: 42.5rem;
    /* overflow-x: hidden; */
  }
  .contanir {
    height: 100%;
    width: 42.5rem;
  }
  .header {
    height: 5rem;
    width: 100%;
  }
  .coin-internl-part {
    height: 3rem;
    width: 7.5rem;
    border-radius: 3rem;
  }
  .section::before {
    font-size: 1.2rem;
    height: 1.5rem;
    width: 3rem;
    top: -20%;
    right: -100%;
  }
  .wallet-icon {
    width: 3.2rem;
    height: 3rem;
    margin-left: 60%;
  }
  .search-box {
    border-radius: 1.4rem;
    height: 6rem;
    width: 90%;
  }
  .search {
    font-size: 1.8rem;
    margin-left: 3rem;
  }
  .search-icon {
    margin-right: 3rem;
  }
  .image-1,
  .image-2,
  .image-3 {
    height: 9rem;
    width: 16rem;
    border-radius: 1.4rem;
  }
  .cococola {
    height: 5.7rem;
    width: 90%;
  }
  .cococola-group {
    width: 80%;
  }
  .name-cococola {
    width: 11rem;
    height: 3rem;
    font-size: 2rem;
    top: 0;
    left: 25%;
  }
  .arrow-point {
    right: -25%;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img1a,
  .img2a,
  .img3a,
  .img4a,
  .img5a,
  .img6a {
    height: 20rem;
    width: 13.5rem;
  }
  .office {
    height: 5.7rem;
    width: 90%;
  }
  .office-1 {
    width: 80%;
  }
  .name-office {
    width: 11rem;
    height: 3rem;
    font-size: 2rem;
    top: 0;
    left: 25%;
  }
  .arrow-point2 {
    right: -25%;
  }
  .icons {
    width: 95%;
  }
}
/*For Mobile Medium 375px*/
@media (max-width: 23.43em) {
  html {
    font-size: 58%;
  }
  body {
    height: 100%;
    width: 37.5rem;
  }
  .contanir {
    height: 100%;
    width: 37.5rem;
  }
  .header {
    height: 5rem;
    width: 100%;
  }
  .coin-internl-part {
    height: 2.5rem;
    width: 6rem;
    border-radius: 3rem;
    margin-right: 10%;
  }
  .dollar {
    height: 1.5rem;
    width: 1.5rem;
  }
  .doller-text {
    font-size: 1.3rem;
    height: 2.5rem;
    width: 2.6rem;
  }
  .section::before {
    font-size: 1.2rem;
    height: 1.5rem;
    width: 3rem;
    top: -20%;
    right: -100%;
  }
  .wallet-icon {
    width: 3.2rem;
    height: 3rem;
    margin-left: 70%;
  }
  .search-box {
    border-radius: 1.4rem;
    height: 6rem;
    width: 90%;
  }
  .search {
    font-size: 1.7rem;
    margin-left: 3rem;
  }
  .search-icon {
    margin-right: 3rem;
  }
  .image-1,
  .image-2,
  .image-3 {
    height: 8.5rem;
    width: 14.5rem;
    border-radius: 1.4rem;
  }
  .cococola {
    height: 5.7rem;
    width: 90%;
  }
  .cococola-group {
    width: 80%;
  }
  .name-cococola {
    width: 11rem;
    height: 3rem;
    font-size: 2rem;
    top: 0;
    left: 30%;
  }
  .arrow-point {
    right: -25%;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img1a,
  .img2a,
  .img3a,
  .img4a,
  .img5a,
  .img6a {
    height: 18.5rem;
    width: 12rem;
  }
  .office {
    height: 5.7rem;
    width: 90%;
  }
  .office-1 {
    width: 80%;
  }
  .name-office {
    width: 11rem;
    height: 3rem;
    font-size: 2rem;
    top: 0;
    left: 30%;
  }
  .arrow-point2 {
    right: -25%;
  }
}
/*For Mobile Small 320px*/
@media (max-width: 20em) {
  html {
    font-size: 55%;
  }
  body {
    height: 100%;
    width: 32rem;
    /* padding-left: 20rem; */
  }
  .contanir {
    height: 100%;
    width: 32rem;

    /* margin-right: 50%; */
    /* width: 100%; */
  }
  .header {
    height: 5rem;
    width: 100%;
  }
  .coin-internl-part {
    height: 2rem;
    width: 4rem;
    border-radius: 3rem;
    margin-left: 0%;
    margin-right: 10px;
  }
  .dollar {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 6%;
    margin-left: 5%;
  }
  .doller-text {
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    margin-top: 2%;
    margin-left: 0%;
  }
  .section::before {
    font-size: 1.2rem;
    height: 1.5rem;
    width: 3rem;
    top: -20%;
    right: -100%;
  }
  .wallet-icon {
    width: 3.2rem;
    height: 3rem;
    margin-left: 70%;
  }
  .search-box {
    border-radius: 1.4rem;
    height: 6rem;
    width: 90%;
  }
  .image-1,
  .image-2,
  .image-3 {
    height: 8rem;
    width: 13rem;
    border-radius: 1.4rem;
  }
  .cococola {
    height: 5.7rem;
    width: 90%;
  }
  .cococola-group {
    width: 90%;
  }
  .name-cococola {
    width: 11rem;
    height: 3rem;
    font-size: 2rem;
    top: 0;
    left: 25%;
  }
  .arrow-point {
    right: -15%;
  }
  .post,
  .post2 {
    margin-left: 7rem;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img1a,
  .img2a,
  .img3a,
  .img4a,
  .img5a,
  .img6a {
    height: 16.5rem;
    width: 10.5rem;
    margin-left: 0.5rem;
  }
  .office {
    height: 5.7rem;
    width: 90%;
  }
  .office-1 {
    width: 90%;
  }
  .name-office {
    width: 11rem;
    height: 3rem;
    font-size: 2rem;
    top: 0;
    left: 25%;
  }
  .arrow-point2 {
    right: -15%;
  }
  .icons {
    width: 95%;
  }
  .icon1 {
    height: 2.5rem;
    width: 3.5rem;
  }
  .icon2 {
    height: 2.8rem;
    width: 4.5rem;
  }
  .icon3 {
    height: 2.5rem;
    width: 3rem;
  }
  .icon4 {
    height: 3rem;
    width: 3rem;
  }
  .icon5 {
    height: 3rem;
    width: 3rem;
  }
}
